@model ProyectoFinal_FlavioAlvarez.Models.DatosSimulacion

@{
    ViewData["Title"] = "Simulacion";
}

<h1>Resultados de simulación</h1>

<div>
    <table class="table">
        <tbody>
            <div class="container mt-1 mb-3">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h4 class="card-card-text">Maquina 1</h4>
                            <div class="card-text">
                                <h5 class="card-title">Cantidad de productos </h5>
                                @Html.DisplayFor(model => model.canProductosM1)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Ganancias Butas </h5>
                                @Html.DisplayFor(model => model.gananciaM1)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Ganancia Real </h5>
                                @Html.DisplayFor(model => model.ganaciaRealM1)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-1">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h4 class="card-text">Maquina 2</h4>
                            <div class="card-text">
                                <h5 class="card-title">Cantidad de productos </h5>
                                @Html.DisplayFor(model => model.canProductosM2)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Ganancias Butas </h5>
                                @Html.DisplayFor(model => model.gananciaM2)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Ganancia Real </h5>
                                @Html.DisplayFor(model => model.ganaciaRealM2)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="container mt-1 mb-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <h4 class="card-text">Maquina Recomendada</h4>
                <div class="card-text">
                    @Html.DisplayFor(model => model.maquyinaRecomendad)
                </div>
            </div>
        </div>
    </div>
</div>
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Inicio</a>
</div>
